body {
 margin: 0;
 background: #071326;
 font-family: 'Segoe UI', sans-serif;
}

body::before {
 content: "";
 position: fixed;
 inset: 0;

 background-image:
         linear-gradient(rgba(0,150,255,0.08) 1px, transparent 1px),
         linear-gradient(90deg, rgba(0,150,255,0.08) 1px, transparent 1px);

 background-size: 80px 80px;

 pointer-events: none;
}
.card {
 background: #0f1e36 !important;
 border: 1px solid #1e3a5f !important;

 border-radius: 16px !important;

 color: white !important;

 box-shadow:
         0 0 15px rgba(0,150,255,0.15);
}

.card:hover {
 transform: translateY(-3px);

 transition: 0.3s;
}
h1,
h2,
h3,
h4,
h5,
h6 {
 color: white;
}